// Fonts
@font-face {
  font-family: 'TT Limes Sans';
  src: url('../fonts/custom/TTLimesSans-Light.eot');
  src: url('../fonts/custom/TTLimesSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/custom/TTLimesSans-Light.woff2') format('woff2'),
  url('../fonts/custom/TTLimesSans-Light.woff') format('woff'),
  url('../fonts/custom/TTLimesSans-Light.ttf') format('truetype'),
  url('../fonts/custom/TTLimesSans-Light.svg#TTLimesSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Limes Sans';
  src: url('../fonts/custom/TTLimesSans-Regular.eot');
  src: url('../fonts/custom/TTLimesSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/custom/TTLimesSans-Regular.woff2') format('woff2'),
  url('../fonts/custom/TTLimesSans-Regular.woff') format('woff'),
  url('../fonts/custom/TTLimesSans-Regular.ttf') format('truetype'),
  url('../fonts/custom/TTLimesSans-Regular.svg#TTLimesSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Limes Sans';
  src: url('../fonts/custom/TTLimesSans-Bold.eot');
  src: url('../fonts/custom/TTLimesSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/custom/TTLimesSans-Bold.woff2') format('woff2'),
  url('../fonts/custom/TTLimesSans-Bold.woff') format('woff'),
  url('../fonts/custom/TTLimesSans-Bold.ttf') format('truetype'),
  url('../fonts/custom/TTLimesSans-Bold.svg#TTLimesSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}