@media (max-width: 1199px) {
  .header {

    &__login {
      font-size: 20px;
    }

    &__logo {
      width: 150px;
    }

    &__nav {

      nav {

        a {
          font-size: 16px;

          & + a {
            margin-left: 15px;
          }
        }
      }
    }
  }

  .main-screen {
    min-height: 600px;

    &__bg {
      width: 1800px;
    }

    &__winnerMan {
      top: 42%;
    }

    //&__bg-mob {
    //  display: block;
    //}
    //
    //&__bg-main {
    //  display: none;
    //}
    &__head{
      top: 33%;
      left: 41.15%;
      max-width: 240px;
    }
    &__head-prize {
      margin-left: -55px;
    }

    &__prize,
    &__reg {
      margin-top: 10px;
    }

    &__prizeInner {
      margin-left: 10px;
    }

    &__logos-comp {

      a {
        width: 70px;
      }
    }
  }
}

@media (max-width: 991px) {

  .header {

    &__login {
      margin-left: 0;
      margin-top: 20px;
    }

    &__personal-area-back {
      display: inline-block;
      position: absolute;
      left: 0;
      top: -50px;
      transition: all .2s ease-out;
      pointer-events: none;
      opacity: 0;
    }

    &__burger {
      display: flex;
    }

    &__inner {
      padding: 15px 0;
    }

    &__personal-area-ph {
      border: 2px solid #7ecff5;
    }

    &__personal-area {
      margin-left: 0;
      margin-top: 20px;
      padding: 0;
    }

    &__nav {
      margin: 0;
      transition: .2s;

      nav {

        a {
          display: block;

          & + a {
            margin-left: 0;
            margin-top: 15px;
          }
        }
      }
    }

    &__mobNav {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #023f85;
      padding: 60px 15px 20px;
      flex-direction: column;
      z-index: 999;
      width: 190px;
      align-items: flex-start;
      transform: translateX(100%);
      transition: all .2s ease-out;
    }

    &__personal-area-nav {
      padding: 0;

      & * {
        font-size: 20px;
        text-transform: uppercase;
        line-height: 1;
        text-decoration: none;
        font-weight: 700;
        transition: all .2s ease-out;

        &.text--mt5 {
          margin-top: 20px;
        }

        &.text--blue {
          color: #ffffff;
        }

        &:hover {
          opacity: .6;
        }
      }
    }

    &.active.personal-active {

      .header__nav {
        transform: translateX(190px);
      }

      .header__personal-area {
        order: -1;
      }

      .header__personal-area-back {
        opacity: 1;
        pointer-events: visible;
      }
    }
  }

  .main-screen {
    min-height: 500px;

    &__head{
      top: 32.9%;
      left: 41.1%;
      max-width: 210px;
    }
    &__bg {
      width: 1550px;
    }

    &__winnerMan {
      top: 43%;

      .text--25 {
        font-size: 20px;
      }

      .text--18 {
        font-size: 14px;
      }
    }

    &__prizeInner {
      transform: scale(.8);
      margin-left: -30px;
      margin-bottom: -25px;
      padding-bottom: 0;
    }

    &__logos-comp {

      a {
        width: 40px;
      }
    }
  }

  &.active {

    .header__mobNav {
      transform: translateX(0);
    }
  }
}

@media (max-width: 768px) {

  .products {

    &__card {
      width: calc((100% / 2) - 1px);

      .text {
        max-width: 200px;
        margin: 0 auto;
      }
    }
  }

  .winners {

    &__card {
      margin-top: 20px;
      padding: 20px;

      & + .winners__card {
        margin-top: 10px;
      }
    }

    &__card-info {
      padding-right: 15px;
      margin-left: 20px;

      .dot-text {

        .text--30 {
          font-size: 18px;
        }

        .text--25 {
          font-size: 16px;
        }

        .dot-text__dots {
          height: 16px;
        }
      }

      .text--25 {
        font-size: 16px;
      }

      .text--mt9 {
        margin-top: 7px;
      }
    }

    &__title-text {
      margin-left: 10px;

      .text--44 {
        font-size: 27px;
      }

      .text--65 {
        font-size: 36px;
      }
    }

    &__title {

      img {
        width: 85px;
      }
    }

    &__person {

      .text--34 {
        font-size: 24px;
      }

      .dot-text__dots--yellow {
        height: 16px;
      }

      .text--30 {
        font-size: 18px;
      }
    }
  }

  .top-bg {

    img {
      width: 200%;
      margin-left: 50%;
      transform: translateX(-50%);
    }

    &--static {

      img {
        width: 1500px;
        margin-left: calc(50% - 14px);
      }
    }
  }

  .def-section {
    margin-top: -27%;
  }

  .personal {

    &__info {
      flex-direction: column;
    }

    &__data {
      margin-left: 0;
      margin-top: 20px;
    }

    &__data-inner {
      margin-left: 0;
    }

    &__data-cart {

      .text--25 {
        font-size: 21px;
      }
    }

    &__points {
      text-align: center;

      &-flex {
        display: flex;
        flex-direction: column;
        align-items: center;

        .btn {
          margin-top: 5px;
        }
      }
    }

    &__data-cart {
      margin-left: 0;
      width: 50%;
      text-align: center;

      &:last-child {
        width: 100%;
      }
    }
  }

  // Faq-------------------
.faq {

	&__item {
		margin-top: 15px;
	}

	&__title {
		font-size: 24px;
		line-height: 100%;
	}

	&__text {
		font-size: 16px;
		margin-top: 5px;
	}
}

  .popup {
    padding: 15px;
  }

  .footer {

    &__inner {
      flex-direction: column;
    }

    &__text {
      padding-bottom: 30px;
      padding-top: 0;
      max-width: 220px;
      margin: 20px auto 0;
    }

    &__nav {
      order: 2;
      margin-top: 30px;

      ul {
        flex-direction: column;
        align-items: center;

        li {

          & + li {
            margin-left: 0;
          }
        }
      }
    }

    &__contacts {
      align-items: center;
    }

    &__social {
      margin-top: 15px;
    }
  }

  .main-screen {
    height: auto !important;
    min-height: auto !important;

    &__content-card-zagl {
      margin-bottom: 0;
      margin-top: -20px;
      width: 100%;
      background-color: #ffdd14;
      color: #023f85;
      border-radius: 0;
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50px;
        right: 99%;
        background-color: #ffdd14;
      }

      &::after {
        right: auto;
        left: 99%;
      }
    }

    &__head-prize {
      margin-left: 0;
    }

    &__bg {
      left: 82%;
      top: 0;
      bottom: auto;
      height: 530px;
      background-image: linear-gradient(to top, #43c9e7 0%, #43c9e7 33%, #2581c7 100%), radial-gradient(circle 531px at center, #5dc5f2 0%, #1089ca 100%);
    }

    &__content {
      background-color: #248cca;
      margin-top: 500px;
    }

    &__contentInner {
      align-items: center;
      flex-direction: column;
    }

    &__content-card {
      width: 100%;
      display: flex;
      justify-content: center;

      &:nth-child(2) {
        order: -1;
      }
    }

    &__prizeInner {
      margin: 0;
      padding: 0;
      transform: none;
      display: flex;
      flex-direction: column;
    }

    &__reg {
      order: -1;
      margin-top: -40px;
      transform: scale(1.05);
    }

    &__prize {
      margin-top: 20px;
    }

    &__logos-comp {
      margin-top: 35px;
      padding-bottom: 60px;

      a {
        width: auto;

        & + a {
          margin-left: 10px;
        }
      }
    }

    //&__bg-mob {
    //  display: block;
    //}
    //
    //&__bg-main {
    //  display: none;
    //}
  }

  .header {
    background-color: #2581c7;
  }

  .howToPlay {
    margin-top: -210px;

    &__border {
      display: none;
    }

    &__top {
      flex-direction: column;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 1px;
        border-left: 2px dashed #ffffff;
        top: -99px;
        bottom: -43px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
      }

      .text {
        background-color: #248cca;
      }

      .text--30 {
        font-size: 24px;
      }

      .text--25 {
        font-size: 18px;
      }

      & > * + * {
        margin-top: 70px;
      }
    }

    &__text {
      margin-top: 45px;
    }

    &__medium {
      flex-direction: column;
      align-items: center;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 1px;
        border-left: 2px dashed #ffffff;
        top: -30px;
        bottom: -35px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
      }

      .text {
        background-color: #248cca;
      }

      .text--25 {
        font-size: 20px;
      }

      & > * + * {
        margin-top: 50px;
      }
    }

    &__medium-card,
    &__bottom-card {
      width: 100%;
    }

    &__border-min {
      margin-top: 60px;

      img {
        display: none;
      }
    }

    &__bottom {
      flex-direction: column;
      align-items: center;

      & > * + * {
        margin-top: 50px;
      }
    }
  }
}

@media only screen and (max-width: 599px) {

  .main-screen {
    &__head{
      top: 26.55vw;
      left: 54.9%;
      max-width: 32vw;
    }
  }
  .products {

    &__card {
      width: 100%;
    }
  }

  .winners {

    &__card {
      flex-direction: column;
    }

    &__card-info {
      margin-left: 0;
      margin-top: 15px;
    }

    &__card-circle {

      .circle {
        width: 125px;
        height: 125px;

        img {
          height: 70px;
        }
      }
    }
  }

  .form {

    &__innerFlex {

      & > * {
        width: 100%;
      }
    }

    &__input-file {

      label {

        .text {
          padding-left: 0;
          max-width: 150px;
          display: inline-block;
        }
      }
    }
  }

  .get-prize-big {

    .text.flex.justify-sb {
      flex-direction: column;
    }
  }

  table {
    width: 700px;
  }

  .personal {

    &__prize-inner {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 0;
    }

    &__prize-card {
      width: calc(40% - 21px);
      margin-top: 20px;
    }

    &__table {
      overflow-x: scroll;
    }

    &__data-cart {

      .text--25 {
        font-size: 16px;
        text-transform: none;
      }

      .text--25.text--blue {
        font-size: 18px;
      }

      .text--34 {
        font-size: 24px;
      }
    }

    .btn--big {
      font-size: 18px;
      padding: 10px 50px;
    }

    &__ava > img {
      width: 120px;
    }

    &__points {

      &-flex {

        .btn {
          margin-top: 10px;
          margin-left: 0;
        }
      }

      .text--34 {
        font-size: 24px;
      }

      .text--25 {
        font-size: 16px;
      }
    }

    &__prize {

      .text--34 {
        font-size: 24px;
        text-align: center;
      }
    }
  }

  .main-screen {

    &__winnerMan {
      z-index: 10;
      top: 34vw;
      left: 19vw;
    }

    &__prizeInner {
      width: 100%;
    }

    &__bg-mob {
      display: block;
    }

    &__bg-main {
      display: none;
    }

    &__reg {
      transform: scale(1);
    }

    &__bg {
      position: static;
      width: 100%;
      transform: none;
      height: auto;
      order: -1;
    }

    &__content {
      margin-top: -3px;
    }

    &__prize {
      flex-direction: column;
    }

    &__prize-l {
      padding-right: 0;
    }

    &__prize-r {
      padding-left: 0;
      border: none;
      margin-top: 15px;
      margin-bottom: 5px;
    }
  }
}

@media only screen and (max-width: 479px) {

  .personal {

    &__prize-card {
      width: calc(55% - 21px);

      &--zaglushka {
        display: none;
      }
    }

    &__data-cart {

      .text--25 {
        font-size: 14px;
      }
    }
  }

  .main-screen {

    &__winnerMan {
      left: 16%;

      .text--25 {
        font-size: 15px;
      }

      .text--18 {
        font-size: 11px;
      }

      .text--mt5 {
        margin-top: 0;
      }
    }
  }
}