$gothamPro: 'GothamPro', sans-serif;
$gothamProBlack: 'GothamPro-Black', sans-serif;
$mainColor: #3d3d3d;
$colorLink: #f40000;
$colorIcon: #f40000;
$colorTitle: #f40000;
$colorText: #ffffff;
$colorBtn: #f40000;
$colorHover: #cc2b1d;
$colorDis: #eeeeee;

// Reset ---------------
$font: 'TT Limes Sans';
$fontWeight: normal;
$fontSize: 14px;
$color: #fff;