@import "var";
@import "fonts";
@import "reset";

/* Style -------------------------------------------------------------------- */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: calc(1160px + 30px);

  &--min {
    max-width: calc(800px + 30px);
  }
}

// btn
.btn {
  color: #ffffff;
  font-family: "TT Limes Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  border-radius: 15px;
  background-color: #3abeed;
  padding: 5px 25px;
  transition: all .2s ease-out;
  cursor: pointer;

  &--yellow {
    background-color: #fff042;
    color: #005597;

    &:hover {
      color: #005597;
    }
  }

  &--big {
    font-size: 24px;
    padding: 10px 75px;
    border-radius: 25px;
  }

  &--p-x {
    padding: 5px 50px;
  }

  &--f-c {
    display: inline-flex;
    align-items: center;
  }

  &--ml10 {
    margin-left: 10px;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.btn-controller {

  &--center {
    display: flex;
    justify-content: center;
  }

  &--mt10 {
    margin-top: 10px;
  }

  &--mt15 {
    margin-top: 15px;
  }
}

// Header
.header {

  &--bg {
    background-color: #2581c7;
  }

  &__inner {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__personal-area-back {
    width: 35px;
    display: none;
  }

  &__login {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .2s ease-out;
    margin-left: 20px;

    &:hover {
      opacity: .6;
    }
  }

  &__mobNav {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &__burger {
    width: 40px;
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: all .2s ease-out;
    position: relative;
    z-index: 999;
    padding: 10px 0 10px 10px;

    span {
      height: 4px;
      background-color: #fff;
      border-radius: 3px;
      width: 100%;
      display: block;
      transition: all .2s ease-out;

      & + span {
        margin-top: 5px;
      }
    }

    &:hover {
      opacity: .8;
    }
  }

  &__nav {
    margin: 0 auto;
    nav {

      a {
        text-transform: uppercase;
        font-size: 20px;
        transition: all .2s ease-out;
        font-weight: 700;

        & + a {
          margin-left: 20px;
        }

        &.active {
          text-decoration: underline;
        }

        &:hover {
          opacity: .6;
        }
      }
    }
  }

  &__personal-area {
    display: flex;
    margin-left: 20px;
    transition: all .2s ease-out;
    border-radius: 25px 25px 0 0;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    padding: 10px 20px 10px 10px;

    &-nav {
      position: absolute;
      top: 100%;
      background-color: #023f85;
      padding: 0 20px 35px 20px;
      left: 0;
      right: 0;
      border-radius: 0 0 25px 25px;
      transition: all .2s ease-out;
      opacity: 0;
      pointer-events: none;
      display: flex;
      flex-direction: column;
      z-index: 10;

      & > * {
        transition: all .2s ease-out;

        &.active {
          text-decoration: underline;
        }
      }
    }

    &-inner {
      display: flex;
      align-items: center;
      transition: all .2s ease-out;
    }

    &-ph {
      width: 65px;
      height: 65px;
      background-color: #114182;
      transition: all .2s ease-out;
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      img {
        width: 50px;
        display: block;
        max-height: 90%;
      }
    }

    &-tx {
      text-transform: uppercase;
      font-size: 18px;
      margin-left: 10px;
      font-weight: 700;

      &.active {
        text-decoration: underline;
      }
    }
  }

  &__logo {
    display: inline-block;
    margin-right: 20px;

    img {
      display: block;
    }
  }

  &.personal-active {

    .header__personal-area {
      background-color: #023f85;

      .header__personal-area-nav {
        opacity: 1;
        pointer-events: visible;
      }
    }
  }

  &.active {

    .header__burger {

      span {

        &:nth-child(1) {
          transform: rotate(45deg);
          margin-bottom: -6px;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          margin-top: -7px;
        }
      }
    }
  }
}

@keyframes tremor {
  0%, 100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

// Footer
.footer {
  background-color: #023f85;
  padding-top: 30px;
  position: relative;
  z-index: 10;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-num {
      color: #fefefe;
      font-size: 30px;
    }

    &-mail {
      font-size: 18px;
      color: #3abeed;
      text-decoration: underline;
      transition: all .2s ease-out;
    }
  }

  &__text {
    text-align: center;
    font-size: 12px;
    color: #dae1eb;
    opacity: 0.45;
    padding: 7px 0;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      max-width: 158px;
    }

    ul {
      display: flex;
      margin-top: 10px;

      a {
        display: inline-block;
      }

      li {
        color: #3abeed;

        a {
          text-decoration: underline;
          transition: all .2s ease-out;
          font-weight: 300;

          &:hover {
            text-decoration: none;
            color: #ffffff;
          }
        }

        & + li {
          margin-left: 20px;
        }
      }
    }
  }

  &__social {

    ul {
      display: flex;

      a, img {
        width: 38px;
        height: 38px;
      }

      li {
        transition: all .2s ease-out;

        &:hover {
          opacity: .6;
        }

        & + li {
          margin-left: 5px;
        }
      }

      a {
        position: relative;
        display: inline-block;

        &::before {
          content: '';
          position: absolute;
          background-color: #fff;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        img {
          position: relative;
          z-index: 2;
        }
      }
    }
  }
}

// Main
.main-screen {
  min-height: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__content-card-zagl {
    margin-bottom: 40%;
  }

  &__bg {
    width: 2000px;
    transform: translateX(-50%);
    position: absolute;
    bottom: -25px;
    left: 50%;

    img {
      width: 100%;
    }
  }

  &__winnerMan {
    display: inline-block;
    position: absolute;
    top: 43%;
    left: 28%;
    text-align: right;
    line-height: 1;
  }

  &__head {
    max-width: 265px;
    position: absolute;
    top: 33.2%;
    left: 41.15%;
    transform: translate(-50%, -50%);
  } 

  &__bg-main {
    display: block;
  }

  &__bg-mob {
    display: none;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__contentInner {
    display: flex;
    align-items: flex-end;
  }

  &__content-card {
    width: 50%;
  }

  &__logos-comp {
    padding-bottom: 10px;
    display: flex;
    align-items: center;

    div {

      & + div {
        margin-left: 5px;
      }
    }
  }

  &__head-prize {
    display: flex;
    align-items: flex-start;
    margin-left: -40px;

    img {
      flex-shrink: 0;
    }
  }

  &__head-prize-text {
    margin-top: 20px;
    margin-left: 7px;
  }

  &__prize-cartWr {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__prize-cart {
    width: calc((100% / 3) - 1px);
    padding: 0 5px;
    text-align: center;

    img {
		max-height: 85px;

      &:hover {
        animation: .2s tremor linear infinite;
      }
    }
  }

  &__prize {
    display: flex;
    margin-top: 45px;
    width: 100%;
  }

  &__prize-r {
    padding-left: 10px;
    flex-shrink: 0;
    border-left: 5px dotted #a0c9e2;
  }

  &__prize-l {
    width: 100%;
    padding-right: 10px;
  }

  &__prizeInner {
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin-left: 30px;
  }

  &__reg {
    margin-top: 30px;
    transition: all .2s ease-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}

// text
.text {
  font-size: 22px;

  &--lh {
    line-height: 1;
  }

  &--14 {
    font-size: 14px;
  }

  &--16 {
    font-size: 16px;
  }

  &--18 {
    font-size: 18px;
  }

  &--under {
    text-decoration: underline;
  }

  &--fw300 {
    font-weight: 300;
  }

  &--word {
    word-break: break-all;
  }

  &--25 {
    font-size: 25px;
  }

  &--30 {
    font-size: 30px;
  }

  &--34 {
    font-size: 34px;
  }

  &--44 {
    font-size: 44px;
  }

  &--65 {
    font-size: 65px;
  }

  &--bold {
    font-weight: bold;
  }

  &--upper {
    text-transform: uppercase;
  }

  &--center {
    text-align: center;
  }

  &--yellow {
    color: #ffdd14;
  }

  &--blue {
    color: #3abeed;
  }

  &--mt9 {
    margin-top: 9px;
  }

  &--mt5 {
    margin-top: 5px;
  }

  &--mt15 {
    margin-top: 15px;
  }

  &--mt45 {
    margin-top: 45px;
  }

  &--box {
    text-shadow: 0 4px 8px rgba(43, 96, 168, 0.8);
  }

  a {
    transition: all .2s ease-out;
  }
}

// Cookie
.cookie {
  background-color: #023f85;
  padding: 20px 0;
  position: fixed;
  z-index: 99;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all .2s ease-out;

  &.active {
    opacity: 0.91;
    pointer-events: visible;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  .btn {
    margin-left: 20px;
    flex-shrink: 0;
  }

  &__text {
    font-size: 16px;

    a {
      color: #3abeed;
      text-decoration: underline;
    }
  }
}

// FAQ
.faq {

	&__inner {
		position: relative;
	}

	&__list {
		text-align: center;
		color: #ffffff;
		font-size: 18px;
	}

	&__item {
		max-width: 585px;
		width: 100%;
		margin: 0 auto;

		&:nth-child(n+2) {
			margin-top: 20px;
		}
	}

	&__title {
		cursor: pointer;
		color: #ffea00;
		font-size: 30px;
		text-decoration: underline;
		text-decoration-style: dashed;
		position: relative;

		&.active {
			text-shadow:
			1px -1px 0 #ffea00,
			1px -1px 0 #ffea00;
			text-decoration: none;
		}
	}

	&__text {
    margin-top: 15px;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    &_active{
      transition: 0.7s;
      max-height: 100vh;
    }
    &_active{
      transition: 0.7s;
      max-height: 999999999px;
    }
	}
}

// Personal area
.top-bg {
  background-image: linear-gradient(to top, #43c9e7 0%, #43c9e7 33%, #2581c7 100%), radial-gradient(circle 531px at center, #5dc5f2 0%, #1089ca 100%);

  img {
    width: 100%;
    max-width: none;
  }

  &--static {

    img {
      width: 2570px;
      margin-left: calc(50% - 10px);
      transform: translateX(-50%);
    }
  }
}

.def-section {
  margin-top: -14%;
  position: relative;
  z-index: 2;
  background-color: #248cca;
  padding-bottom: 130px;

  &__decoration {
    position: absolute;

    &--top {
      top: 10%;
      left: -250px;
    }

    &--center {
      top: 50%;
      transform: translateY(-50%);
      right: -250px;
    }

    &--bottom {
      bottom: -80px;
      left: -250px;
	}
	
	&--bottom-right {
		bottom: -80px;
		right: -250px;
	}
  }
}

.personal {

  &__inner {
    position: relative;

    ::-webkit-scrollbar {
      width: 10px;
      height: 8px;
      background-color: #2b9bd4;
      border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #3abeed;
      width: 15px;
      border-radius: 5px;
    }
  }

  &__info {
    display: flex;
  }

  &__ava {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;

    .btn {

      img {
        margin-left: 5px;
      }
    }
  }

  &__ava-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #114182;

    img {
      width: 100px;
      max-height: 90%;
    }
  }

  &__data {
    margin-left: 45px;
  }

  &__data-inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -45px;
    margin-top: -10px;
  }

  &__data-cart {
    margin-top: 10px;
    margin-left: 45px;

    &--100 {
      width: 100%;
    }
  }

  &__points {
    margin-top: 50px;
  }

  &__table {
    margin-top: 40px;
    height: 308px;
    overflow-y: scroll;
  }

  &__social-text {
	text-align: center;
	font-size: 16px;
	}

	&__social {
		margin-top: 10px;
		height: 32px;
		width: 140px;
		border-radius: 20px;
		
		text-align: center;

		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			transition: all .2s ease-out;
			height: 32px;
			width: 32px;
			border-radius: 50%;
			background-color: #023f85;

			&:hover {
				opacity: .7;
			}

			&+a {
				margin-left: 5px;
			}
		}

		img {
			width: 20px;

			&.odn {
				width: 12px;
			}
		}
	}

  &__prize {
    margin-top: 40px;
  }

  &__prize-inner {
    display: flex;
    justify-content: space-between;
    margin: 20px -10px 0;
  }

  &__prize-card {
    margin: 0 10px;
    width: calc((100% / 4) - 21px);
    cursor: pointer;

	img {
		max-height: 125px;
	}

    .text--under {
      transition: all .2s ease-out;
    }

    &:hover:not(.active) {

      .personal__prize-card-ph {

        img {
          animation: .2s tremor linear infinite;
        }
      }
    }

    &.active {
      cursor: default;

      .text--under {
        text-decoration: none;
        color: #3abeed;
      }

      .personal__prize-card-ph {

        &-i {
          background-color: #023f85;
        }
      }
    }

    &--zaglushka {
      cursor: default;

      .personal__prize-card-ph-i {
        opacity: .2;
        background-color: #3abeed !important;
      }
    }
  }

  &__prize-card-ph {
    position: relative;
    height: 0;
    padding-top: 100%;

    &-i {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 50%;
      background-color: #3abeed;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .2s ease-out;

      img {
        width: 40%;
      }
    }
  }
}

.circle {
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #3abeed;
  margin: 15px auto 0;
}

.winners {

  &__inner {
    position: relative;
  }

  &__title {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    img {
      flex-shrink: 0;
      width: 115px;
    }
  }

  &__title-text {
    margin-left: 20px;
    margin-top: 15px;
  }

  &__person {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }

  &__card {
    border-radius: 30px;
    background-color: #023f85;
    padding: 40px;
    display: flex;
    margin-top: 40px;

    & + .winners__card {
      margin-top: 20px;
    }

    ::-webkit-scrollbar {
      width: 10px;
      height: 8px;
      background-color: #1365a4;
      border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #3abeed;
      width: 15px;
      border-radius: 5px;
    }
  }

  &__card-circle {
    flex-shrink: 0;

    .circle {
      margin-top: 0;
      width: 190px;
      height: 190px;

      img {
        height: 100px;
      }
    }
  }

  &__card-info {
    width: 100%;
    margin-left: 40px;
    max-height: 235px;
    overflow-y: auto;
    padding-right: 25px;
  }
}

.dot-text {
  display: flex;
  width: 100%;

  &__dots {
    width: 100%;
    border-bottom: 2px dotted #fff;
    margin: 0 10px;
    height: 27px;

    &--yellow {
      border-bottom: 4px dotted #fff042;
      height: 27px;
    }
  }

  .text {
    flex-shrink: 0;
  }

  &--460 {
    max-width: 460px;
  }
}

.feedback {

  .form__innerFlex > *,
  .form__input:nth-child(n+2) {
    margin-top: 20px;
  }

  &__inner {
    position: relative;
  }
}

.products {

  &__inner {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__card {
    width: calc((100% / 3) - 1px);
    padding: 30px 15px;
  }

  &__card-img {
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.howToPlay {
  margin-top: -222px;

  &__inner {
    position: relative;
  }

  &__border {
    position: absolute;
    left: -16px;
    top: -305px;
    z-index: -1;
  }

  &__top {
    display: flex;
    justify-content: space-around;
  }

  &__top-card {
    text-align: center;
  }

  &__text {
    margin-top: 25px;
  }

  &__medium {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__medium-card {
    text-align: center;
    width: 33%;
  }

  &__border-min {
    text-align: center;

    .text {
      margin-top: -25px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }

  &__bottom-card {
    text-align: center;
    width: 30%;
  }

  &__logos {
    margin-top: 60px;
  }

  &__logos-text {
    margin-top: 40px;
  }

  &__logos-nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    div {

      & + div {
        margin-left: 10px;
      }
    }
  }
}

// kladr
//#kladr_autocomplete {
//
//  ul {
//    z-index: 999999999999;
//    max-height: 200px;
//    border: none;
//    min-width: 42px;
//
//    li {
//      color: #303030;
//      font-size: 18px;
//      padding: 10px 20px;
//      border-top: none;
//
//      &:hover {
//        background-color: #e3f3ff;
//      }
//    }
//  }
//
//  ::-webkit-scrollbar {
//    width: 10px;
//    height: 8px;
//    background-color: #fff;
//  }
//
//  ::-webkit-scrollbar-thumb {
//    background: #3abeed;
//    width: 15px;
//  }
//}

table {
  width: 100%;
  border-spacing: 0;
  border-bottom: 4px solid #3abeed;

  th {
    font-size: 24px;
    font-weight: 400;
    padding: 7px 0;
    line-height: 1;

    &:first-child {
      text-align: left;
    }
  }

  td {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0;
    border-top: 2px dotted #3abeed;

    &.success {
      color: #ffe952;
    }

    &.rejected {
      color: #eb008b;

      span {
        vertical-align: middle;
      }

      img {
        cursor: pointer;
        vertical-align: middle;
      }
    }

    &.onCheck {
      color: #3abeed;
    }

    &:first-child {
      text-align: left;
    }
  }

  tr:first-child {

    td {
      border-top: 4px solid #3abeed;
    }
  }
}

/*SELECT ---------------------- */
body > .select2-container {
  width: auto !important;
}

.scroll-element {
  width: 40px !important;
  right: 0 !important;
  background-color: #3abeed;
  top: 10px !important;
  bottom: 10px !important;
  height: auto !important;

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 10px;
    left: 0;
    right: 0;
    top: -10px;
    background-color: #3abeed;
  }

  &::after {
    top: auto;
    bottom: -10px;
  }
}

.scroll-bar {
  width: 10px !important;
  border-radius: 5px !important;
  margin: 0 auto !important;
  background-color: #fff !important;
  left: 0 !important;
}

.scroll-element_track {
  display: none !important;
}

.select2-container {
  width: 100% !important;
  outline: none;
  z-index: 99999;
  top: 100% !important;

  & * {
    outline: none;
  }

  &.select2-container--open {
    z-index: 9999999;
  }

  .select2-dropdown {
    border: none;
    border-radius: 0 !important;
  }

  .select2-search {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 40px;
      background-color: #3abeed;
    }
  }

  .select2-search__field {
    width: calc(100% - 45px);
  }

  .select2-results__option {
    padding: 10px 0 10px 20px;
    color: #303030;
    font-size: 18px;

    &:hover {
      background-color: #e3f3ff;
    }
  }

  .select2-results__options {
    max-height: 210px !important;
  }

  .select2-selection {
    width: 100%;
    height: 42px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 21px;

    &__placeholder {
      color: #303030 !important;
      font-size: 18px;
    }

    &__rendered {
      padding-left: 0 !important;
      padding-right: 0 !important;
      color: #303030 !important;
      font-size: 18px !important;
    }

    &__arrow {
      top: 0 !important;
      bottom: 0;
      right: 0 !important;
      width: 40px !important;
      height: 100% !important;
      border-radius: 0 21px 21px 0;
      background-color: #3abeed;

      b {
        border-width: 10px 6px 0 !important;
        margin-left: -7px !important;
        border-color: #fff transparent transparent !important;
        transition: all .2s ease-out;
      }
    }
  }
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #f7f7f7;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f7f7f7;
  color: $mainColor
}

.select2-container--above.select2-container--open .select2-selection {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 22px !important;
  border-top-right-radius: 22px !important;
}

.select2-container--open {

  .select2-selection {

    &__arrow {
      border-radius: 0 21px 0 0;

      b {
        transform: rotate(180deg);
        margin-top: -4px !important;
      }
    }
  }
}

.image-select {

  .select2-search {
    display: none !important;
  }

  .select2-container .select2-selection {
    padding: 0;
  }

  .select2-results__options {
    max-height: 206px !important;
  }

  .select2-results__option {
    padding: 2px 1px;

    &:hover {
      background-color: #e3f3ff;
    }
  }

  .select2-image {
    display: flex;
    align-items: center;
    padding-left: 2px;
    color: #303030;
    font-size: 18px;

    &__img {
      width: 30px;
      background-color: #114182;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-right: 10px;
      overflow: hidden;

      img {
        width: 21px;
      }
    }
  }
}

/*POPUP ---------------------- */
body.no-scrolling {
  overflow: hidden;
}

// Popup -------------
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
  opacity: 0;
  transition: all .2s linear;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  pointer-events: none;
  overflow-y: auto;

  &__close {
    cursor: pointer;
    display: inline-flex;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 10;
    align-items: center;

    img {
      width: 13px;
      margin-left: 10px;
    }
  }

  &__wrap {
    max-width: 300px;
    width: 100%;
    padding: 55px 35px 35px;
    position: relative;
    transition: all .2s ease-out;
    transform: translateY(50px);
    margin-top: 10vh;
    background-color: #023f85;
    border-radius: 25px;

    &--big {
      max-width: 400px;
    }

    &--veryBig {
      max-width: 530px;
    }
  }
}

// Show
.js-popup-show {
  z-index: 99999;
  opacity: 1;
  pointer-events: visible;

  .popup__wrap {
    transform: translateY(0);
  }
}

// Flex
.flex {
  display: flex;
}

.justify-sb {
  justify-content: space-between;
}

.justify-c {
  justify-content: center;
}

.align-c {
  align-items: center;
}

.transfer-card {

  .flex {

    .form__input {
      margin-top: 0;

      input[type="number"] {
        text-align: center;
        color: #2f2f2f;
        padding: 5px;
        width: 70px;
        margin-left: 10px;
      }

      label.error {
        display: none !important;
      }
    }
  }
}

//.popup {
//  position: fixed;
//  top: 0;
//  left: 0;
//  bottom: 0;
//  right: 0;
//  z-index: 10;
//  opacity: 0;
//  visibility: hidden;
//  background-color: rgba(#000000, .8);
//  transition: opacity .3s 0s, visibility 0s .3s;
//  overflow-x: hidden;
//  overflow-y: scroll;
//  -webkit-overflow-scrolling: touch;
//
//  &.js-popup-show {
//    opacity: 1;
//    visibility: visible;
//    transition: opacity .3s 0s, visibility 0s 0s;
//
//    .popup__wrap {
//      transform: translateY(0);
//    }
//
//    .iframe-wrapper {
//      display: block;
//    }
//  }
//
//  &__wrap {
//    transform: translateY(-10%);
//    position: relative;
//    max-width: 340px;
//    width: 100%;
//    background-color: #ffffff;
//    transition-duration: .3s;
//    padding: 30px 30px 40px;
//    margin: 100px auto 50px;
//  }
//
//  &__close {
//    position: absolute;
//    top: -30px;
//    right: 0;
//    width: 20px;
//    height: 20px;
//    cursor: pointer;
//
//    &:before,
//    &:after {
//      content: "";
//      position: absolute;
//      top: 50%;
//      left: 0;
//      right: 0;
//      height: 2px;
//      background-color: #ffffff;
//      transform: translateY(-50%) rotate(45deg);
//    }
//
//    &:after {
//      transform: translateY(-50%) rotate(-45deg);
//    }
//  }
//
//  &__text {
//    margin-top: 20px;
//
//    &_bold {
//      font-family: $gothamProBlack;
//    }
//  }
//}

.form {

  &__input-file-close {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3abeed;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all .2s ease-out;

    img {
      width: 10px;
    }
  }

  &__input-file {
    margin-top: 20px;
    position: relative;

    label.error {
      bottom: -11px;
    }

    label {
      position: relative;
      display: block;

      input {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: -1;
      }

      .text {
        cursor: pointer;
        padding-left: 20px;
      }
    }

    & + .form__input-file {
      margin-top: 10px;
    }

    &.active {

      .form__input-file-close {
        opacity: 1;
        pointer-events: visible;
      }

      .text {
        color: #55a8c3;
        text-decoration: none;
      }
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;

    & > * {
      width: 47%;
    }

    .form__input {
      margin-top: 0 !important;
    }
  }

  &__popup {
    margin-top: 20px;
  }

  &__mt10 {
    margin-top: 10px;
  }

  &__feedback {
    margin-top: 30px;
  }

  &__innerFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -10px;
    align-items: flex-start;

    & > * {
      width: 48%;
      margin-top: 10px;
    }

    & + .form__innerFlex {
      margin-top: 10px;
    }
  }

  input,
  textarea {
    width: 100%;
    border-radius: 25px;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-family: 'TT Limes Sans', sans-serif;
    color: #303030;
    font-size: 18px;
    font-weight: 400;
    transition: all .2s linear;

    &.error {
      padding: 10px 20px 15px;
    }

    &.active {
      border-radius: 25px 25px 0 0;
    }
  }

  ::-webkit-input-placeholder {
    color: #303030;
  }

  ::-moz-placeholder {
    color: #303030;
  }

  :-ms-input-placeholder {
    color: #303030;
  }

  :-moz-placeholder {
    color: #303030;
  }

  input[type="checkbox"] {
    display: none;
  }

  textarea {
    width: 100%;
    border-radius: 25px;
    border: 1px solid #dadada;
    padding: 20px 15px;
  }

  &__input {
    position: relative;

    &:nth-child(n+2) {
      margin-top: 10px;
    }

    &--220 {
      max-width: 220px;
      margin: 0 auto;
    }

    &_margin {
      margin-bottom: 20px;
    }

    &_w-50 {
      width: 45%;
      display: inline-block;
      margin-bottom: 20px;

      input {
        padding: 0 10px 0 20px;
      }

      label.error {
        bottom: -13px;
        left: 10px;
      }
    }

    &_width {
      margin-left: 10px;
      width: 49%;
    }

    &_w-30 {
      width: 32%;
      display: inline-block;
      margin-top: 10px !important;

      .select2-selection {
        padding: 0 10px !important;

        &__arrow {
          right: 8px !important;
        }
      }

      label.error {
        bottom: -12px;
        left: 4px;
      }
    }

    &_textarea {
      margin-bottom: 30px;

      label.error {
        bottom: 20px;
        left: 15px;
      }
    }
  }

  &__text {
    margin: 20px 0 0 30px;

    &_margin {
      margin: 5px 0 30px 30px;
    }

    &_name {
      margin: 15px 0 0;
    }
  }
}

.get-prize {

  .form__flex {

    & > * {
      width: 55%;

      & + * {
        width: 41%;
      }
    }
  }
}

.text-link {
  font-size: 12px;
  color: $colorLink;
  line-height: 14px;

  &_fs {
    font-size: 14px;
    line-height: 16px;
  }

  &_footer {
    font-size: 10px;
  }

  &_log-out {
    font-size: 14px;

    &:hover {
      text-decoration: underline;
      color: $colorHover;
    }
  }
}

.checkbox,
.radio {
  position: relative;

  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
  }

  &__text {
    display: block;
    padding-left: 30px;
    cursor: pointer;
    position: relative;
    font-size: 16px;

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 5px;
      background-color: #fff;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 2px;
      width: 16px;
      height: 16px;
      border-radius: 5px;
      background-color: #3abeed;
      opacity: 0;
      transition: all .2s ease-out;
    }

    &:nth-child(n+2) {
      margin-top: 20px;
    }
  }

  input[type="checkbox"]:checked,
  input[type="radio"]:checked {

    & ~ .checkbox__text::after,
    & ~ .radio__text::after {
      opacity: 1;
    }
  }
}

.radio {

  &__flex {
    display: flex;
    align-items: flex-start;

    img {
      flex-shrink: 0;
    }
  }

  &__data {
    margin-left: 5px;
    width: 100%;

    input {
      background-color: transparent;
      padding: 0;
      border-radius: 0;
      color: #ffffff;
      border: none;
      margin-top: 5px;

      &::placeholder {
        color: #ffffff;
      }
    }
  }

  &__text {
    display: block;
    padding-left: 30px;
    cursor: pointer;
    position: relative;
    font-size: 16px;

    &::before,
    &::after {
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  input[type="radio"]:checked {

    & ~ .radio__text {

      .not-card {
        display: none;
      }
    }
  }

  &.card-found {

    .not-card {
      display: none;
    }
  }

  &.card-not-found {

    .radio__data {

      input {
        display: none;
      }
    }
  }
}

.captcha {
  background-color: #f7f7f7;
  margin: 30px -30px;
  padding: 15px 30px;

  &_feedback {
    background-color: #ffffff;
    margin: 30px 0;
    padding: 0;
  }

  &__text {
    font-size: 12px;
  }

  &__wrap {
    margin-top: 15px;
    display: flex;
    align-items: center;
  }

  &__img {
    flex-shrink: 0;

    img {
      max-height: 50px;
    }
  }

  &__send {
    max-width: 150px;
    width: 100%;
    padding-left: 20px;
    margin-left: 20px;
    position: relative;

    input {
      padding: 0 20px;
      text-align: center;
    }

    &:after {
      right: auto;
      left: -3px;
      border: {
        bottom: 2px solid $colorIcon;
        right: 2px solid $colorIcon;
      }
    }

    label.error {
      bottom: -12px;
    }
  }
}

/*IFRAME ---------------------- */
.iframe-wrapper {
  height: 60vh;
  min-height: 340px;
  width: 100%;
}

.iframe {
  height: 95%;
  width: 100%;
  margin-top: 20px;
}

/*VALIDATE ---------------------- */
label.error {
  font-size: 11px;
  bottom: 3px;
  left: 21px;
  position: absolute;
  color: #f40000;
  border: none !important;
  z-index: 999999;

  & ~ .checkbox__text:before {
    border: 1px solid #f40000;
  }
}

textarea + label.error {
  bottom: 8px;
}

select.error {

  & + label.error {
    bottom: 1px;

    & + .select2 {

      .select2-selection {
        border: 1px solid #f40000;
      }
    }
  }
}

input[type="checkbox"] {

  &.success {

    & ~ .checkbox__text:before {
      border: 1px solid #dadada;
    }
  }
}

.error {
  border: 1px solid #f40000 !important;
}

/*SCROLL ---------------------- */
body .scroll-element,
body .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 5;
}

body .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

body .scroll-element.scroll-x {
  bottom: 1px;
  height: 8px;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity .3s ease;
}

body .scroll-element.scroll-x .scroll-element_track {
  top: 3px;
  width: 100%;
  height: 2px;
}

body .scroll-element.scroll-y {
  height: 100%;
  right: 2px;
  top: 0;
  width: 8px;
}

body .scroll-element .scroll-element_outer {
  overflow: visible;
}

body .scroll-element .scroll-element_outer,
body .scroll-element .scroll-element_track,
body .scroll-element .scroll-bar {
  border-radius: 8px;
}

body .scroll-element .scroll-element_track {
  background: #ebe7dd;
  left: 1px;
  width: 2px;
}

body .scroll-element .scroll-bar {
  width: 8px;
  background-color: #f40000;
  left: -2px;
  position: relative;
}

body .scroll-element:hover .scroll-bar {
  background-color: #f40000;
}

body .scroll-element.scroll-draggable .scroll-bar {
  background-color: #f40000;
}

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -12px;
}

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -12px;
}

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -12px;
}

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -12px;
}

/* Media -------------------------------------------------------------------- */
@import "media";